header {
    display: flex;
    justify-content: space-between;
    /* ลองใส่แล้วดูผลว่า 3 ก้อนมันดีดแยกกันจริงไหม */
    align-items: center;
    /* จัดให้ความสูงมันเท่ากันกึ่งกลาง */
    padding: 20px 5%;
    /* ใช้ % เพื่อให้มันขยับตามหน้าจอ */
}

nav ul {
    display: flex; /* สั่งให้ลูกๆ (li) เลิกซ้อนกัน แล้วมาเรียงแถวหน้ากระดาน */
    list-style: none; /* เอาจุดดำๆ ออก */
    gap: 20px; /* เว้นระยะห่างระหว่างเมนู */
    padding: 0;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
}

.nav-login a{
    text-decoration: none;
}

.container{
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 40px;
    padding: 40px 5%;
    align-items: start;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    background-color: transparent;
}
.card {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
}
.card:hover{
    transform: translateY(-8px);
}
.card button{
    background-color: #4b3621;
 /* สีน้ำตาลกาแฟเข้ม */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 15px;
}
.menu-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    margin-bottom: 15px;
}